.Main{
    height: 100%;
    /* align-content: center; */
    display: flex;
    width: 100%;
}
.conteudo{
    flex:8;
    background-color: #FFFFFF;
    padding-top: 1%;
  }
.conteudo h1{
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
}
.conteudo p{
    padding-top:1%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: x-large;
    text-align: justify;
    font-weight: 800;
    margin-bottom: 1%;
}

.side{
    flex:1;
    background-color: #F5F5F5;
}

.espaco{
    font-size: xxx-large;
    padding-top:7%;
}

.header_exemplo{
    margin: 0 32px 0;
}

.coletiva_exemplo, .x-exemplo, .continue{
    margin: 32px 32px 16px;
}


.coletiva_exemplo button{
    border: 0px;
    font-size: 32px;
    border-radius: 10px;
    padding: 12px 12px;
    cursor: pointer;
}

.desc{
    color: #90cf54;
}

.desc p{
    font-size: 18px;
}

.coletiva_selects{
    width: 100%;
    display: inline-flex;
    align-content: center;
    justify-content: space-around;
    margin: 16px 0;
}

.select-age{
    background-color: #d9d9d9;
    display: inline-flex;
    border-radius: 24px;
    border: 1px solid  rgba(0, 0, 0, 1); 
    margin: 0 0 16px;
    text-align: center;
    padding: 0;
}

.select-age select{
    background-color: #d9d9d9;
    display: inline-flex;
    border-radius: 0px 24px 24px 0;
    border: 1px solid  rgba(0, 0, 0, 1); 
    padding: 12px;
    text-align: center; 
    margin: 0 -4px 0;
}

.age-group{
    display: flex;
  flex-direction: column;
}

.select-age h5{
    padding: 0 12px;
    align-content: center;
    white-space: nowrap ;
    text-align: center;
}

.button-group{
    margin: 32px 0;
    display: inline-flex;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}

.button-confirm{
    background-color: #90cf54;
}

.button-erase{
    background-color: #e70000;
    color: #FFFFFF;
}

.tables-x{
    margin: 32px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.continue{
   display: inline-flex;
   justify-content: space-between;

}

.continue span{
    color: #90cf54;
    margin: 0 16px;
}