.tabela-x{
    width: 40%;
    margin: 0px 16px;
}

.tabela-x table{
    margin-top: 16px;
    overflow-y: hidden;
}

.tabela-x tbody{
    margin-top: 16px;
    overflow-y: hidden;
}


.tabela-x tr{
    padding: 0;
}

.normal td:nth-child(1) {  
    padding: 4px 0;
    background-color: #d9d9d9;
    border-right: 1px solid rgba(0, 0, 0, 1);
}

.mirror td:nth-child(2) {  
    padding: 4px 0;
    background-color: #d9d9d9;
    border-left: 1px solid rgba(0, 0, 0, 1);
}

.tabela-x tr:nth-child(1) {  
    font-weight: bold;
}

.placeholder-x{
    text-align: center;
    float: left;
    background-color: #d9d9d9;
    margin: 16px 0;
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 1);
}