.tabela-coletiva{
    height: 450px; 
}

table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.tabela-coletiva thead{
    flex: 0 0 auto;
    background-color: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 1);
    width: 100%;
}

table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

table tbody tr {
    width: 100%;
}

tbody{
    border: 1px solid rgba(0, 0, 0, 1);
}

tr{
    border-top: 1px  solid rgba(0, 0, 0, 1);
    border-bottom: 1px  solid rgba(0, 0, 0, 1);
    padding: 4px 0;
}



table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}

td{
    text-align: center;
}