.App {
  text-align: center;
}
*{
  font-family: 'Inter', sans-serif;
}
body{
  margin: 0;
  /* width: 100%;
  display: inline-block; */
  align-content: center;
}
.main{
  height: 100%;
  align-content: center;
  display: flex;
  width: 100%;
}
.conteudo{
  flex:8;
}
.imagem_e_texto {
  display: flex;
}
.conteudo h1{
  font-size: xx-large;
  text-align: center;
  font-weight: 900;
  text-transform: none;
}
.conteudo p{
  padding-top:1%;
  padding-left: 1%;
  padding-right: 1%;
  font-size: x-large;
  text-align: justify;
  font-weight: 800;
  margin-bottom: 1%;
}

.side{
  flex:1;
  background-color: #F5F5F5;
}
.buraco{
  padding:10%;
}