.header{
    display: inline-flex;
    border-bottom: 1px solid black;
    /* padding: 5px; */
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    width: 100%;
    background-color: #90cf54;
  }
  .mb{
    padding-top: 8px;
    height: 100%;
    align-items: center;
    vertical-align: middle;
  }
  .mb img{
    cursor:pointer;
    max-width: 90%;
    max-height: 90%;
  }
  .logo{
    max-width: 15%;  
    align-content: center;
    vertical-align: middle;
    justify-content: center ;
  }
  .logo img{
    width: 100%;
  }
  .nav{
    width: 37.5%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-left:6.25%;
    margin-right: 6.25%;
  }
  .nav a{
    width: 25%;
    text-decoration:antiquewhite;
    font-size: xx-large;
    font-weight: 700;
    color: #FFFFFF;
    flex: 1;
    text-align: center;
  }
  .nav a:hover {
    text-decoration: underline;
  }
  .buttons{
    margin: 0 16px;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    
  }
  .login-button,
  .signup-button {
    border: 1px;
    border-style: solid;
    border-radius: 1%;
    border-color: #000;
    background-color: transparent;
    color: #000; 
    /* text-transform: uppercase; */
    font-size: x-large;
    font-weight: 1000;
    margin: 0 16px;
    padding: 5px 10px;
    cursor: pointer;
  }
